html, body, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend, caption, tbody, tfoot, thead 
 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
*::after,
*::before {box-sizing: inherit;}
a:hover {text-decoration: none;}
.clear {clear: both;}
table {border-collapse: collapse;}
body{overflow-x: hidden !important;font-family: 'Open Sans', sans-serif;font-weight: 400;background-color: #fbfadb;}
@font-face {
    font-family: 'UTM Ambrose';
    src: url('../fonts/UTMAmbrose.eot');
    src: url('../fonts/UTMAmbrosed41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UTMAmbrose.html') format('woff2'),
        url('../fonts/UTMAmbrose.woff') format('woff'),
        url('../fonts/UTMAmbrose.ttf') format('truetype'),
        url('../fonts/UTMAmbrose.svg#UTMAmbrose') format('svg');
    font-weight: normal;
    font-style: normal;
}
.wrapper{width: 1200px;margin: 0 auto;position: relative;z-index:3;}
.img_18{position: absolute;top:90px;left: 0;z-index: 3;}
.al_tdnd{display: block;background: url(../images/bg_atd.png) no-repeat top center;width: 100%;height: 30px;line-height: 30px;text-align: center;text-transform: uppercase;font-family: 'UTM Ambrose';color: #a8894c;font-size: 36px;margin-bottom: 40px;}
.menu_r{position: fixed;top:120px;right: 30px;padding-top: 175px;box-sizing: border-box;background: url(../images/bg_menur.png) no-repeat top center;width: 160px;height: 343px;z-index: 6;margin: 0;padding-left: 0;}
.menu_r li{display: block;margin-bottom: 10px;}
.menu_r li:last-child{margin-bottom: 0;}
.menu_r li a{display: block;width: 135px;height: 42px;background: url(../images/bg_imer.png) no-repeat top center;text-align: center;line-height: 42px;text-transform: uppercase;font-family: 'UTM Ambrose';font-size: 15px;color: #7d3020;margin: 0 auto;}
.menu_r li a:hover{background-position: bottom;color: #ff2a00;}
.header{background: url(../images/bg_header.png) no-repeat top center;height: 119px;position: relative;z-index: 3;}
.logoa{position: absolute;top:0px;left: 50%;transform: translateX(-50%);-moz-transform: translateX(-50%);-webkit-transform: translateX(-50%);z-index: 1;}
.menu_letop,.menuritop{position: absolute;top:10px;left: -40px;word-spacing: -4px;margin: 0;}
.menu_letop li,.menuritop li{display: inline-block;word-spacing: 4px;}
.menu_letop li a,.menuritop li a{text-transform: uppercase;color: #82571d;font-size: 18px;font-family: 'UTM Ambrose';width: 155px;height: 80px;text-align: center;line-height: 79px;display:block;position: relative;}
.menu_letop li a:before,.menuritop li a:before{content:"";position:absolute;top:50%;right:0;transform:translateY(-50%);-moz-transform:translateY(-50%);-webkit-transform:translateY(-50%);width:1px;height:65%;background:rgba(243,226,199,0);background:-moz-linear-gradient(top,rgba(243,226,199,0) 20%,rgba(217,176,106,1) 50%,rgba(233,212,179,0) 80%);background:-webkit-gradient(left top,left bottom,color-stop(20%,rgba(243,226,199,0)),color-stop(50%,rgba(217,176,106,1)),color-stop(80%,rgba(233,212,179,0)));background:-webkit-linear-gradient(top,rgba(243,226,199,0) 20%,rgba(217,176,106,1) 50%,rgba(233,212,179,0) 80%);background:-o-linear-gradient(top,rgba(243,226,199,0) 20%,rgba(217,176,106,1) 50%,rgba(233,212,179,0) 80%);background:-ms-linear-gradient(top,rgba(243,226,199,0) 20%,rgba(217,176,106,1) 50%,rgba(233,212,179,0) 80%);background:linear-gradient(to bottom,rgba(243,226,199,0) 20%,rgba(217,176,106,1) 50%,rgba(233,212,179,0) 80%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3e2c7',endColorstr='#e9d4b3',GradientType=0);}
.menuritop{right: 0;left: auto;}
.menu_letop li a:hover,.menuritop li a:hover,.menuritop li.ac_menutot a,.menu_letop li.ac_menutot a{color:#ffefcd;background:rgb(188,149,95);background:linear-gradient(-180deg,rgba(188,149,95,0.6) 0%,rgba(88,56,12,1) 100%);}
.menu_letop li:last-child a:before,.menuritop li:last-child a:before,.menuritop li.ac_menutot a:before,.menu_letop li.ac_menutot a:before{content: none;}
.sld_bner{position: relative;z-index: 2;margin-top: -30px;}
.sld_bner .swiper-slide{text-align: center;}
.sld_nv{background: url(../images/bg_sldnv.png) no-repeat top center;padding-top: 90px;margin-top: -128px;position: relative;z-index: 3;padding-bottom: 90px;}
.img_left_nv{
  position: absolute;
      -webkit-animation: left_nvke 8s infinite; /* Safari 4+ */
    -moz-animation:    left_nvke 8s infinite; /* Fx 5+ */
    -o-animation:      left_nvke 8s infinite; /* Opera 12+ */
    animation:         left_nvke 8s infinite; /* IE 10+, Fx 29+ */
}
@-webkit-keyframes left_nvke {
  0%   { left: 0; top:35vh;}
  50%   { left: 1vw; top:18vh;}
  100% { left: 0; top:35vh;}
}
@-moz-keyframes left_nvke {
  0%   { left: 0; top:35vh;}
  50%   { left: 1vw; top:18vh;}
  100% { left: 0; top:35vh;}
}
@-o-keyframes left_nvke {
  0%   { left: 0; top:35vh;}
  50%   { left: 1vw; top:18vh;}
  100% { left: 0; top:35vh;}
}
@keyframes left_nvke {
  0%   { left: 0; top:35vh;}
  50%   { left: 1vw; top:18vh;}
  100% { left: 0; top:35vh;}
}
.img_right_nv{
  position: absolute;right: 0;
    -webkit-animation: rigt_nvke 5s infinite; /* Safari 4+ */
    -moz-animation:    rigt_nvke 5s infinite; /* Fx 5+ */
    -o-animation:      rigt_nvke 5s infinite; /* Opera 12+ */
    animation:         rigt_nvke 5s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes rigt_nvke {
  0%   { top:22vh;}
  50%   { top:10vh;}
  100% { top:22vh;}
}
@-moz-keyframes rigt_nvke {
  0%   { top:22vh;}
  50%   { top:10vh;}
  100% { top:22vh;}
}
@-o-keyframes rigt_nvke {
  0%   { top:22vh;}
  50%   { top:10vh;}
  100% { right: 0;} 
}
@keyframes rigt_nvke {
  0%   { top:22vh;}
  50%   { top:10vh;}
  100% { top:22vh;}
}

.al_dl{position:absolute;top: -335px;left:50%;transform:translateX(-50%);-moz-transform:translateX(-50%);-webkit-transform:translateX(-50%);background-image:url(../images/ani_tai.png);width:723px;height:287px;-webkit-animation:text_dong 1.5s forwards steps(73) infinite;animation:text_dong 1.5s forwards steps(73) infinite;}
.igmt{position:absolute;top:14px;left:216px;z-index:2;animation:cirZoom infinite linear 2s .3s;-moz-animation:cirZoom infinite linear 2s .3s;-webkit-animation:cirZoom infinite linear 2s .3s;-o-animation:cirZoom infinite linear 2s .3s;}
@keyframes cirZoom{
  0%{opacity:1;transform:scale(1,1);}
  70%{opacity:0;transform:scale(1.2,1.2);}
  100%{opacity:0;}
}
@-moz-keyframes cirZoom{
  0%{opacity:1;-moz-transform:scale(1,1);}
  70%{opacity:0;-moz-transform:scale(1.2,1.2);}
  100%{opacity:0;}
}
@-webkit-keyframes cirZoom{
  0%{opacity:1;-webkit-transform:scale(1,1);}
  70%{opacity:0;-webkit-transform:scale(1.2,1.2);}
  100%{opacity:0;}
}
@-o-keyframes cirZoom{
  0%{opacity:1;-o-transform:scale(1,1);}
  70%{opacity:0;-o-transform:scale(1.2,1.2);}
  100%{opacity:0;}
}
@-webkit-keyframes text_dong{
  from{background-position-x:0px;}
  to{background-position-x:52779px;}
}
@keyframes text_dong{
  from{background-position-x:0px;}
  to{background-position-x:52779px;}
}
.link_dkdl{position: absolute;top: 140px;left: 18px;width: 250px;height: 70px;z-index: 1;}
.link_nath{position: absolute;top: 140px;right: 20px;width: 250px;height: 70px;z-index: 1;}
.sl_nv_ta{width: 1000px;margin: 0 auto;}
.sl_nv_ta .swiper-wrapper{width: 100%;align-items: flex-start;height: 855px;}
.sl_nv_ta .swiper-slide{width: 380px;height: 450px;text-align: center;position: relative;}
/*.sl_nv_ta .swiper-slide .nd_nva.nvs1{background: url(../images/nv1.png) no-repeat top center;width: 100%;height: 100%;}
.sl_nv_ta .swiper-slide .nd_nva.nvs2{background: url(../images/nv2.png) no-repeat top center;width: 100%;height: 100%;}*/
.sl_nv_ta .swiper-slide.swiper-slide-active .nd_nva{position: absolute;top:100px;left: 50%;transform: translateX(-50%);-moz-transform: translateX(-50%);-webkit-transform: translateX(-50%);width: 583px;height: 855px;}
/*.sl_nv_ta .swiper-slide.swiper-slide-active .nd_nva.nvs1{background: url(../images/imgnv_ac.png) no-repeat top center;}
.sl_nv_ta .swiper-slide.swiper-slide-active .nd_nva.nvs2{background: url(../images/imgnv_ac.png) no-repeat top center;}*/
.sl_nv_ta .swiper-button-next,
.sl_nv_ta .swiper-button-prev{width: 200px;height: 320px;top: 135px;}
.sl_nv_ta .swiper-button-next:after,.sl_nv_ta .swiper-button-prev:after{content: none;}
.al_tmca{position: absolute;top:295px;left: 50%;transform: translateX(-50%);-moz-transform: translateX(-50%);-webkit-transform: translateX(-50%);background: url(../images/bg_tealfe.png) no-repeat top center;text-align: center;height: 65px;line-height: 57px;width: 100%;text-transform: uppercase;font-family: 'UTM Ambrose';color: #7f202e;font-size: 23px;}
.sl_nv_ta .swiper-slide.swiper-slide-active .nd_nva .al_tmca{background:url(../images/bg_tealfe2.png) no-repeat top center;text-align:center;height:87px;line-height:75px;width:100%;text-transform:uppercase;font-family:'UTM Ambrose';color:#fcf9ee;font-size:33px;top:400px;text-shadow:2px 0 0 #7e2825,-2px 0 0 #7e2825,0 2px 0 #7e2825,0 -2px 0 #7e2825,2px 2px #7e2825,-2px -2px 0 #7e2825,2px -2px 0 #7e2825,-2px 2px 0 #7e2825; margin-left: 5px;}
.sl_nv_ta .swiper-slide .nd_nva p{display: none;}
.sl_nv_ta .swiper-slide.swiper-slide-active .nd_nva p{text-align: justify;width: 235px;height: 160px;color: #fff;font-size: 15px;position: absolute;top:490px;left: 50%;transform: translateX(-50%);-moz-transform: translateX(-50%);-webkit-transform: translateX(-50%);display: block;line-height: 1.5;overflow: hidden;}
.al_tinctr{background: url(../images/bg_tinctr.png) no-repeat top center;padding-top: 215px;margin-top: -180px;position: relative;z-index: 5;padding-bottom: 345px;}
.img_left_tt{position: absolute;bottom:110px;   -webkit-animation: nv_lefvid 7s infinite; /* Safari 4+ */
    -moz-animation:    nv_lefvid 7s infinite; /* Fx 5+ */
    -o-animation:      nv_lefvid 7s infinite; /* Opera 12+ */
    animation:         nv_lefvid 7s infinite; /* IE 10+, Fx 29+ */
  }
.img_right_tt{position: absolute;bottom:160px;right: 0;
    -webkit-animation: nv_rifvid 2s infinite; /* Safari 4+ */
    -moz-animation:    nv_rifvid 2s infinite; /* Fx 5+ */
    -o-animation:      nv_rifvid 2s infinite; /* Opera 12+ */
    animation:         nv_rifvid 2s infinite; /* IE 10+, Fx 29+ */}
.al_tab_sltt{width:1180px;height: 460px;background-color: #fff;position: relative;padding-left: 10px;margin-left: 20px;margin-top: 80px;}
.al_tab_sltt:before{content: "";position: absolute;top:0;left:0px;width:100%;height: 100%;border-top:solid 1px #d4cbbc;pointer-events: none;background-color: transparent;border-bottom:solid 1px #d4cbbc;border-right:solid 1px #d4cbbc;z-index: 3;}
.al_tab_sltt:after{content: "";position: absolute;top:0;left:-18px;width: 18px;height: 100%;background: url(../images/iml_bgtl.png) no-repeat top center;pointer-events: none;}
.al_left_sltt{width: 550px;float: left;}
.ls_tab_sltt{margin-top: 30px;display: inline-block;border-bottom: solid 1px #a7a7a7;}
.ls_tab_sltt li{display: inline-block;margin-right: 60px;}
.ls_tab_sltt li a{text-transform: uppercase;font-family: 'UTM Ambrose';color: #525252;font-size: 22px;padding-bottom: 10px;display: inline-block;position: relative;}
.ls_tab_sltt li a:after{content:"";position: absolute;bottom: -1px;left: 0;width: 0%;height: 3px;background-color: #a78749;transition: all 0.5s;-moz-transition: all 0.5s;-webkit-transition: all 0.5s;}
.ls_tab_sltt li a:hover,.ls_tab_sltt li.ac_tabsltt a{color: #a78749}
.ls_tab_sltt li a:hover:after,.ls_tab_sltt li.ac_tabsltt a:after{width: 100%;}
.ls_tab_sltt li a:before{content:"";position:absolute;top:50%;right:-30px;transform:translateY(-50%);-moz-transform:translateY(-50%);-webkit-transform:translateY(-50%);width:1px;height:100%;background:rgba(243,226,199,0);background:-moz-linear-gradient(top,rgba(243,226,199,0) 20%,rgba(217,176,106,1) 50%,rgba(233,212,179,0) 80%);background:-webkit-gradient(left top,left bottom,color-stop(20%,rgba(243,226,199,0)),color-stop(50%,rgba(217,176,106,1)),color-stop(80%,rgba(233,212,179,0)));background:-webkit-linear-gradient(top,rgba(243,226,199,0) 20%,rgba(217,176,106,1) 50%,rgba(233,212,179,0) 80%);background:-o-linear-gradient(top,rgba(243,226,199,0) 20%,rgba(217,176,106,1) 50%,rgba(233,212,179,0) 80%);background:-ms-linear-gradient(top,rgba(243,226,199,0) 20%,rgba(217,176,106,1) 50%,rgba(233,212,179,0) 80%);background:linear-gradient(to bottom,rgba(243,226,199,0) 20%,rgba(217,176,106,1) 50%,rgba(233,212,179,0) 80%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3e2c7',endColorstr='#e9d4b3',GradientType=0);}
.ls_tab_sltt li:last-child a:before{content: none;}
.nd_tabsltt{display: none;}
#tab1{display: block;}
.nd_tabsltt a{display: block;padding: 20px 0px;border-bottom: dotted 1px #a8a8a8;color: #525252;font-size: 14px;vertical-align: middle;transition: all 0.5s;-moz-transition: all 0.5s;-webkit-transition: all 0.5s;}
.nd_tabsltt a em{display: inline-block;width: 12px;height: 12px;border:solid 1px #a78749;background-color:transparent;margin-right: 20px;vertical-align: middle;transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg);transition: all 0.5s;-moz-transition: all 0.5s;-webkit-transition: all 0.5s;}
.nd_tabsltt a:hover{color: #a78749;}
.nd_tabsltt a:hover em{border:solid 1px transparent;background-color:#a78749;margin-right: 15px;}
.sl_rtab_sltt{width: 600px;height: 518px;margin: -30px -20px -20px 40px;float: left;position: relative;overflow: hidden;}
.sl_rtab_sltt:before{content:"";position: absolute;top:0;left: 0;border-top: solid 30px rgba(0,0,0,0.4);width: 100%;height: 100%;z-index: 2;pointer-events: none;border-right:solid 20px rgba(0,0,0,0.4);border-bottom: solid 29px rgba(0,0,0,0.4);}
.al_tab_sltt .swiper-pagination{bottom: -10px;right: 200px;}
.al_tab_sltt .swiper-pagination-bullet{width: 20px;height: 20px;background-color:#a78749;border-radius: 0 0 0 0;transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg);margin: 0px 8px;opacity: 1;border:solid 2px #fff;position: relative;padding: 3px;box-sizing: border-box;}
.al_tab_sltt .swiper-pagination-bullet:before{content:"";position: absolute;top: 50%;left: 50%;width: 70%;height: 70%;background-color: #f7f0e1;transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);transition: all 0.5s;-moz-transition: all 0.5s;-webkit-transition: all 0.5s;}
.al_tab_sltt .swiper-pagination-bullet:hover{background-color:#f7f0e1;transition: all 0.5s;-moz-transition: all 0.5s;-webkit-transition: all 0.5s;}
.al_tab_sltt .swiper-pagination-bullet:hover:before,.al_tab_sltt .swiper-pagination-bullet.swiper-pagination-bullet-active:before{width: 100%;height: 100%;background-color: #a78749;transition: all 0.5s;-moz-transition: all 0.5s;-webkit-transition: all 0.5s;}
.al_video{background:url(../images/bg_video.png) no-repeat top center;padding: 237px 0px 120px 0px;box-sizing: border-box;position: relative;z-index: 2;margin-top: -150px;}
.al_video .swiper-slide a{background: url(../images/bg_vvd.png) no-repeat top center;width: 918px;height: 524px;padding: 9px;box-sizing: border-box;display:block;margin: 0 auto;}
.al_video .swiper-container .swiper-button-next:after,
.al_video .swiper-container .swiper-button-prev:after{content: none;}
.al_video .swiper-container .swiper-button-next{background: url(../images/btn_nvd.png) no-repeat top center;outline: none;width: 57px;height: 56px;right: 40px;transform: scale(-1);transition: all 0.5s;-moz-transition: all 0.5s;-webkit-transition: all 0.5s;}
.al_video .swiper-container .swiper-button-prev{background: url(../images/btn_nvd.png) no-repeat top center;outline: none;width: 57px;height: 56px;left: 40px;transition: all 0.5s;-moz-transition: all 0.5s;-webkit-transition: all 0.5s;}
.al_video .swiper-container .swiper-button-next:hover{right: 45px;transition: all 0.5s;-moz-transition: all 0.5s;-webkit-transition: all 0.5s;}
.al_video .swiper-container .swiper-button-prev:hover{left: 45px;transition: all 0.5s;-moz-transition: all 0.5s;-webkit-transition: all 0.5s;}
.img_left_vd{
  position:absolute;top:300px;
    -webkit-animation: nv_lefvid 7s infinite; /* Safari 4+ */
    -moz-animation:    nv_lefvid 7s infinite; /* Fx 5+ */
    -o-animation:      nv_lefvid 7s infinite; /* Opera 12+ */
    animation:         nv_lefvid 7s infinite; /* IE 10+, Fx 29+ */
}
.img_right_vd{position:absolute;bottom:110px;right: 0;
    -webkit-animation: nv_rifvid 2s infinite; /* Safari 4+ */
    -moz-animation:    nv_rifvid 2s infinite; /* Fx 5+ */
    -o-animation:      nv_rifvid 2s infinite; /* Opera 12+ */
    animation:         nv_rifvid 2s infinite; /* IE 10+, Fx 29+ */
    }
@-webkit-keyframes nv_lefvid {
  0%   { left: 0; top:300px;}
  25%   { left: 2vw; top:300px;}
  50%   { left: 1vw; top:370px;}
  100% { left: 0; top:360px;}
}
@-moz-keyframes nv_lefvid {
  0%   { left: 0; top:300px;}
  25%   { left: 2vw; top:300px;}
  50%   { left: 1vw; top:370px;}
  100% { left: 0; top:360px;}
}
@-o-keyframes nv_lefvid {
  0%   { left: 0; top:300px;}
  25%   { left: 2vw; top:300px;}
  50%   { left: 1vw; top:370px;}
  100% { left: 0; top:360px;}
}
@keyframes nv_lefvid {
  0%   { left: 0; top:300px;}
  25%   { left: 2vw; top:300px;}
  50%   { left: 1vw; top:370px;;}
  100% { left: 0; top:360px;}
}

@-webkit-keyframes nv_rifvid {
  0%   { right: 0; }
  50%   { right: 1vw;}
  100% { right: 0;}
}
@-moz-keyframes nv_rifvid {
  0%   { right: 0; }
  50%   { right: 1vw;}
  100% { right: 0;}
}
@-o-keyframes nv_rifvid {
  0%   { right: 0; }
  50%   { right: 1vw;}
  100% { right: 0;}
}
@keyframes nv_rifvid {
  0%   { right: 0; }
  50%   { right: 1vw;}
  100% { right: 0;}
}
.footer-mautoi{background-color: #fff;}
.infor-left-footer {width: 450px;float: left;display: inline-block;}
.footer-mautoi {display: inline-block;width: 100%;padding: 30px 0;position: relative;margin-bottom: -4px;}
.logofooter {display: inline-block;margin: 0 0 14px 0;}
.text-left-all {display: inline-block;margin: 0 0 26px 0;}
.text-left-all h4, .text-left-all h5, .text-left-all p {color: #666;font-size: 13px;font-family: 'Arial';font-weight: 400;margin: 0 0 3px 0;}
.text-left-all h5 {font-weight: 700;margin: 0;text-transform: uppercase;}
.text-left-all p {font-size: 12px;margin: 5px 0 0 0;}
.infor-right-footer {width: -moz-calc(100% - 450px);width: calc(100% - 450px);float: left;}
.table-footer {width: 100%;border-collapse: collapse;}
.table-footer tr td p, .table-footer tr td a {color: #666;font-size: 12px;font-family: 'Arial';font-weight: 400;line-height: 16px;box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;display: block;}
.table-footer tr:first-child td p {text-transform: uppercase;font-weight: 700;font-size: 13px;}
.table-footer tr td {width: 33.3%;padding: 5px 0;}
.table-footer tr:first-child td {padding: 0 0 5px 0;}
.icon-footer {padding-left: 30px !important;background-position: left center;background-repeat: no-repeat;height: 16px;}
.icon-phone-footer {background-image: url(../images/icon-phone.png);}
/**
.icon-fax-footer {background-image: url(../images/icon-fax.png);}
.icon-fb-footer {background-image: url(../images/icon-fb.png);}
.icon-hotro-footer {background-image: url(../images/icon-hotro.png);}
.icon-phone-footer2 {background-image: url(../images/icon_phone2.html);}
.icon-fax-footer2 {background-image: url(../images/icon_fax2.html);}
.icon-fb-footer2 {background-image: url(../images/icon_face_f2.html);}
.icon-hotro-footer2 {background-image: url(../images/icon_web2.html);}
**/
.text-right-1 {width: 45%;float: left;}
.text-right-2 {width: 55%;float: left;}
.margin-0 {margin: 0;}
.bg_pop{position: fixed;top:0%;left: 0%;background-color: rgba(0,0,0,0.8);z-index: 100;width: 100%;height: 100%;display: flex;justify-content: center;align-items: center;}
.pop_ctnval{width: 687px;height: 380px;position: relative;/*background: url(../images/bg_popask.png) no-repeat top center;*/}
.nv_pop_tra{position: absolute;bottom:26px; left: 50%; margin-left: -500px;}
.nd_pop_pha{position: absolute;top:0;right:0;padding-right: 45px;padding-top: 70px;width: 320px;}
.nd_pop_pha h6{text-transform: uppercase;text-align: center;display: block;margin: 0 auto;background: url(../images/bg_tdpop.png) no-repeat top center;width: 154px;height: 38px;line-height: 35px;font-size: 22px;color: #7f202e;font-family: 'UTM Ambrose';margin-bottom: 20px;}
.nd_pop_pha p{font-size: 16px;color: #484848;text-align: justify;}
.al_nd_tintuctrargf{padding-top: 100px;}
.bg_al_nd_tintuctrargf{position: relative;width: 100%;border-right:solid  2px #e8dbbd;border-left:solid 2px #e8dbbd;margin: 13px 0px;background-color: #fff;margin-top: 50px;padding: 0px 50px;display: inline-block;     max-width: 1100px;}
.bg_al_nd_tintuctrargf:before{content:"";position: absolute;top:-13px;left: 0;background: url(../images/cssto.png) no-repeat top center;width: 100%;height: 13px;}
.bg_al_nd_tintuctrargf:after{content:"";position: absolute;bottom:-13px;left: 0;background: url(../images/cssto.png) no-repeat top center;width: 100%;height: 13px;transform: scale(-1);}
.khu_tsmtbi{width: 100%;padding:50px 0px;box-sizing: border-box;border-bottom: dotted 1px #e8dbbd;overflow:hidden;line-height: 1.5;}
.img_smtb{float: left;margin-right: 25px;}
.al_idpr_tb a{display: block;color: #000;font-weight: 600;text-transform: uppercase;margin-bottom: 20px;font-size: 20px;}
.al_idpr_tb a:hover{color: #8c601b;}
.al_idpr_tb p{display: block;color: #171717;}
.ls_ptra{display: block;text-align: center;margin: 50px 0px;}
.ls_ptra li{display: inline-block;vertical-align: middle;margin: 0px 10px;}
.ls_ptra li a{position:relative;width:23px;height:23px;background:rgba(223,197,131,1);background:-moz-linear-gradient(45deg,rgba(223,197,131,1) 0%,rgba(238,218,158,1) 100%);background:-webkit-gradient(left bottom,right top,color-stop(0%,rgba(223,197,131,1)),color-stop(100%,rgba(238,218,158,1)));background:-webkit-linear-gradient(45deg,rgba(223,197,131,1) 0%,rgba(238,218,158,1) 100%);background:-o-linear-gradient(45deg,rgba(223,197,131,1) 0%,rgba(238,218,158,1) 100%);background:-ms-linear-gradient(45deg,rgba(223,197,131,1) 0%,rgba(238,218,158,1) 100%);background:linear-gradient(45deg,rgba(223,197,131,1) 0%,rgba(238,218,158,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfc583',endColorstr='#eeda9e',GradientType=1);display:inline-block;transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);text-align: center;line-height: 23px;}
.ls_ptra li a em{transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform: rotate(-45deg);display: inline-block;color: #000;font-size: 14px;}
.ls_ptra li.bta_bpt a,.ls_ptra li.bta_npt a{width: auto;height: auto;background: transparent;transform: rotate(0deg);-moz-transform: rotate(0deg);-webkit-transform: rotate(0deg);}
.ls_ptra li.bta_bpt a:before,.ls_ptra li.bta_npt a:before,
.ls_ptra li.ac_alptta a:before{content: none;}
.ls_ptra li.ac_alptta a em{color: #ff7500;font-weight: 600;}
.ls_ptra li.bta_npt a img{transform: scale(-1);}
.al_tsmpa{line-height: 1.5;width:80%; margin:0 auto }
.im_smtotibatv{display: block;margin: 25px 0px;text-align: center;}
.im_smtotibatv img{max-width: 100%;}
.td_alndtinarq{display: block;color: #8c601b;text-transform: uppercase;font-weight: 600;font-size: 24px;padding: 20px 0px;}
.mx_tieatime{display: block;color:#ff2a00;margin-bottom: 20px;}
.char-parade{position:absolute;display:flex;align-items:flex-end;top:0;bottom:35px;white-space:nowrap;animation:parade;animation-duration:40s;animation-iteration-count:infinite;animation-timing-function:linear;}
.char-parade img{padding-right:6vw;image-rendering:pixelated;transform-origin:bottom center;transform:scale(1.5);}
@keyframes  parade{
  0%{transform:translateX(-100%)}
  100%{transform:translateX(100%)}
}
.char-parade2{position:absolute;display:flex;align-items:flex-end;top:0;bottom:0;white-space:nowrap;animation:parade2 steps(4);animation-duration:60s;animation-iteration-count:infinite;animation-timing-function:linear;}
.char-parade2 img{padding-right:6vw;image-rendering:pixelated;transform-origin:bottom center;transform:scale(1.5);}
@keyframes  parade2{
  0%{transform:translateX(-200%)}
  100%{transform:translateX(100%)}
}
.al_tinlqa{border-top:dotted 2px #7b5b47;margin-top: 35px;display: block;padding-bottom: 25px;}
.al_tinlqa span{display: block;margin-top: 25px;color: #8c601b;font-size: 22px;font-weight: 700;}
.al_tinlqa a{display: block;padding-top: 25px;overflow:hidden;}
.al_tinlqa a .imfor_l{float: left;margin-right: 25px;}
.al_tinlqa a .infseas{font-size: 16px;}
.al_tinlqa a .infseas b{color: #000;font-weight: 600;display: block;text-transform: uppercase;}
.al_tinlqa a .infseas i{display: block;color: #ca6c39;margin-top: 5px;font-style: italic;}
.al_tinlqa a:hover .infseas b{color: #8c601b;}

.logo_left{position:absolute; top:805px; left:10px;z-index:6;}
.logo_left.aaa{position:absolute;top:120px;}


.sld_bner .swiper-slide a{display: flex;align-items: center;justify-content: center;}
.sld_bner .swiper-slide a img{width: 100%;}
.al_tab_sltt{width:1180px;height: 480px;background-color: #fff;position: relative;padding-left: 10px;margin-left: 20px;margin-top: 80px;}
.sl_rtab_sltt{width: 600px;height: 480px;margin: 0px -20px -20px 30px;float: left;position: relative;overflow: hidden;}
.nd_tabsltt a{display: block;padding: 22px 0px;border-bottom: dotted 1px #a8a8a8;color: #525252;font-size: 14px;vertical-align: middle;transition: all 0.5s;-moz-transition: all 0.5s;-webkit-transition: all 0.5s;}
.sl_rtab_sltt:before{content:"";position: absolute;top: 0;left: 0;border-top: solid 10px rgba(0,0,0,0.4);width: 580px;height: 460px;z-index: 2;pointer-events: none;border-right: solid 10px rgba(0,0,0,0.4);border-bottom: solid 10px rgba(0,0,0,0.4);border-left: solid 10px rgba(0,0,0,0.4);}
.al_tab_sltt .swiper-pagination{bottom: -10px;right: 250px;}

.infor-left-footer {width: 540px;float: left;display: inline-block;}
.footer-mautoi {display: inline-block;width: 100%;padding: 30px 0;position: relative;margin-bottom: -4px;}
.logofooter{display: inline-block;margin: 0 0 14px 0;}
.text-left-all {display: inline-block;margin: 0 0 26px 0;}
.text-left-all h4, .text-left-all h5, .text-left-all p {color: #666;font-size: 13px;font-family: 'Arial';font-weight: 400;margin: 0 0 3px 0;}
.text-left-all h5 {font-weight: 700;margin: 0;text-transform: uppercase;}
.text-left-all p {font-size: 12px;margin: 5px 0 0 0;}
.infor-right-footer {width: -moz-calc(100% - 450px);width: calc(100% - 540px);float: left;}